.nameValidation{
    color:white;
    font-size: 10px;
}
.lastNameValidation{
    color:white;
    font-size: 10px;
}
.emailValidation{
    color: white;
    font-size: 10px;
}
.passwordValidation{
    color:white;
    font-size: 10px;
}